{% extends "profileinfo/base.html" %}
{% load static %}

{% block active %}
<form method="get" action="{% url 'profileinfo:post' request.user.id %}">
    <button class="selection-inactive" type="submit">Post</button>
</form>
<button class="selection-active">Friend</button>
{% endblock active %}
{% block content %}
<div class="friend-box">
    <div class="profile-card">
        <div class="friend-profile-info">
            <img
                src="{% static 'profileinfo/image/dummyprofile.webp' %}"
                class="friend-profile-picture">
            <div class="profile-card-data">
                <h1>Raymond Ghin</h1>
                <p>123 Friends</p>
            </div>
        </div>
        <button class="display-none">Add Friend</button>
        <img src="{% static 'profileinfo/image/checklist.png' %}"
            class=" already-friend-icon" alt>
    </div>
    <div class="profile-card">
        <div class="friend-profile-info">
            <img
                src="{% static 'profileinfo/image/dummyprofile.webp' %}"
                class="friend-profile-picture">
            <div class="profile-card-data">
                <h1>Raymond Ghin</h1>
                <p>123 Friends</p>
            </div>
        </div>
        <button class="display-none">Add Friend</button>
        <img src="{% static 'profileinfo/image/checklist.png' %}"
            class=" already-friend-icon" alt>
    </div>
    <div class="profile-card">
        <div class="friend-profile-info">
            <img
                src="{% static 'profileinfo/image/dummyprofile.webp' %}"
                class="friend-profile-picture">
            <div class="profile-card-data">
                <h1>Raymond Ghin</h1>
                <p>123 Friends</p>
            </div>
        </div>
        <button class="">Add Friend</button>
        <img src="{% static 'profileinfo/image/checklist.png' %}"
            class="display-none already-friend-icon" alt>
    </div>
    <div class="profile-card">
        <div class="friend-profile-info">
            <img
                src="{% static 'profileinfo/image/dummyprofile.webp' %}"
                class="friend-profile-picture">
            <div class="profile-card-data">
                <h1>Raymond Ghin</h1>
                <p>123 Friends</p>
            </div>
        </div>
        <button class="">Add Friend</button>
        <img src="{% static 'profileinfo/image/checklist.png' %}"
            class="display-none already-friend-icon" alt>
    </div>
    <div class="profile-card">
        <div class="friend-profile-info">
            <img
                src="{% static 'profileinfo/image/dummyprofile.webp' %}"
                class="friend-profile-picture">
            <div class="profile-card-data">
                <h1>Raymond Ghin</h1>
                <p>123 Friends</p>
            </div>
        </div>
        <button class="">Add Friend</button>
        <img src="{% static 'profileinfo/image/checklist.png' %}"
            class="display-none already-friend-icon" alt>
    </div>
</div>
{% endblock content %}